<app-navbar></app-navbar>
<div class="w-full h-[calc(100vh-2.75rem)] flex text-base">
    <div class="bg-gray-100 w-1/4 h-full flex justify-end pt-12">
        <div class="relative w-3/4">
            
            <ul class="">
                <li class="h-8 flex items-center">
                    <fa-icon [icon]="faBorderAll"></fa-icon> Boards
                </li>
                <li class="h-8 flex items-center">
                    Templates
                </li>
                <li class="h8 flex items-center">
                    Home
                </li>
            </ul>
            <div class="text-xs text-gray-600 mt-4 mb-2">
                Workspaces
            </div>
        </div>
        
    </div>
    <div class="bg-gray-200 w-3/4 h-full">hello</div>
</div>
